{% extends 'homepage/base.html' %}
      {% load static %}
      {% block content %}

  <main id="main" class="main-page">

    <!--==========================
      Speaker Details Section
    ============================-->
    <section id="speakers-details" class="wow fadeIn">
      <div class="container">
        <div class="section-header">
          <h2>Series Details</h2>
{#          <p>jksdfhfsgfklj sdajkhlgfdsba</p>#}
        </div>

        <div class="row">
          <div class="col-md-6">
              {% with 'homepage/img/speakers/'|add:series.image_link as image_path %}
            <img src="{% static image_path %}" alt="{{ series.name }}" class="img-fluid">
              {% endwith %}
          </div>

          <div class="col-md-6">
            <div class="details">
              <h2>{{ series.name }} </h2>
{#              <div class="social">#}
{#                <a href=""><i class="fa fa-twitter"></i></a>#}
{#                <a href=""><i class="fa fa-facebook"></i></a>#}
{#                <a href=""><i class="fa fa-google-plus"></i></a>#}
{#                <a href=""><i class="fa fa-linkedin"></i></a>#}
{#              </div>#}
              <h3>SERIES HOST COUNTRY : {{ series.host }}</h3>
 
              <h3 style="color: #0e1b4d">MAN OF THE SERIES : <a id="{{ series.motm }}" onclick="getplayer(id)"> {{ series.motm }}</a></h3>

              <h3>SERIES WINNER : {{ series.winner }}</h3>

                <h3>TOTAL FOURS IN SERIES : {{ fours }}</h3>

              <h3>TOTAL SIXES IN SERIES : {{ sixes }}</h3>
            </div>
          </div>
        <br>
        <h1 style="color: #1c7430">Matches in the series</h1>
        <br>
        {% for match in matches %}
        <br>
        <div class="col-md-12">
            <div >
                <h1 style="color: #0e1b4d"> MATCH NO: {{ match.no }}</h1>
                <h4 style="color: #00ad5f">Type: {{ match.type }}</h4>
                <button class="btn-success" onclick="myFunction('{{ match.mid }}')">Match Scorecard</button>
                <h4 style="color: #0b7dda">Man of the Match: <a id="{{ match.motm }}" onclick="getplayer(id)"> {{ match.motm }}</a></h4>
                <h5>Weather: {{ match.weather }}</h5>
                <h5>Match Winner: {{ match.winner }}</h5>
                <h5>Toss Winner: {{ match.toss }}</h5>


            </div>
        </div>
        <br><br>
        {% endfor %}
          
        </div>
      </div>

    </section>

  </main>

          <script>
          document.getElementById('nav-about').hidden=true;
          document.getElementById('nav-series').hidden=true;
          document.getElementById('nav-teams').hidden=true;
          document.getElementById('nav-contact').hidden=true;
          document.getElementById('nav-grounds').hidden=true;
          document.getElementById('nav-videos').hidden=true;
          document.getElementById('nav-images').hidden=true;
          document.getElementById('nav-stats').hidden=true;
          </script>

          <script>
            function myFunction(match_id) {
              window.location.href = "{% url 'matchsingle' %}" +"?id="+match_id;
            }
          function getplayer(ID) {
            var txt = document.getElementById(ID).innerText;
            window.location.href = "{% url 'playersingle' %}" +"?name="+txt;
          }
    </script>

{% endblock %}
